:root {
  --main-bg-colour: rgb(0, 166, 255);
  --window-bg-colour: rgb(255, 94, 0);
  --message-bg-colour: rgb(7, 174, 204);
  --head-text-colour: rgb(255, 255, 255);
  --message-text-colour: rgb(255, 255, 255);
}

/*rgb(15, 111, 255)*/

body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-colour);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
}

.chat-window {
  display: grid;
  height: 400px;
  grid-template-columns: auto;
  padding: 10px;
  color: var(--head-text-colour);
  background-color: var(--window-bg-colour);
}

.center-page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.message-list {
  color: var(--message-text-colour);
  background-color: var(--message-bg-colour);
  height:286px;
  overflow-y: scroll;
}

.typing-div {
  color: var(--head-text-colour);
  background-color: var(--window-bg-colour);
}

.input-bar {
  background-color: var(--window-bg-colour);
  padding: 10px;
}

.new-chat {
  background-color: var(--window-bg-colour);
  height: 280px;
  padding: 130px 10px 10px 25px;
}